@media screen and (max-width: 1140px) {
    /* -------------------------------------------------------------------------------------- */
    /* start general style */
        /* ------------------------- */
        /* start custom button style */
        /* end custom button style */
        /* ----------------------- */


        /* ----------------------- */
        /* start custom font style */
        /* end custom font style */
        /* --------------------- */


        /* --------------------- */
        /* start icon list style */
        /* end icon list style */
        /* ------------------- */
    /* end gernal style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start header style */
        /* ------------------- */
        /* start nav_bar style */
        /* end nav_bar style */
        /* ----------------- */


        /* -------------------------- */
        /* start header content style */
        /* end header content style */
        /* ------------------------ */
    /* end header style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start about us style */
    /* end about us style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start reviewers style */
        .reviewers .reviewers_img{
            margin-top: 80px;
        }
    /* end reviewers style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start shutterstock2 background style */
    /* end shutterstock2 background style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start dishes style */
    /* end dishes style*/
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start our testimonials style */
    /* end our testimonials style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start where are we style */
    /* end where are we style */
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start footer style */
        /* ----------------------- */
        /* start main footer style */
        /* end main footer style */
        /* --------------------- */


        /* ------------------------- */
        /* start footer bottm style */
        /* end footer bottom style */
        /* ----------------------- */
    /* end footer style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start panel menu style */
    /* end panel menu style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start scroll up style */
    /* end scroll up style */
    /* -------------------------------------------------------------------------------------- */
}
@media screen and (max-width: 992px) {
    /* -------------------------------------------------------------------------------------- */
    /* start general style */
        /* ------------------------- */
        /* start custom button style */
        /* end custom button style */
        /* ----------------------- */


        /* ----------------------- */
        /* start custom font style */
        /* end custom font style */
        /* --------------------- */


        /* --------------------- */
        /* start icon list style */
        /* end icon list style */
        /* ------------------- */
    /* end gernal style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start header style */
        /* ------------------- */
        /* start nav_bar style */
            .nav_bar{
                position: unset;
            }
            .nav_bar .section_container{
                width: 90% ;
            }
        /* end nav_bar style */
        /* ----------------- */


        /* -------------------------- */
        /* start header content style */
            .header_content .section_container{
                padding-top: unset ;
                margin-top: 10vh;
            }
            .header_content h1{
                font-size: 34px !important;
            }
        /* end header content style */
        /* ------------------------ */
    /* end header style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start about us style */
        .about_us_img{
            margin-top: 70px;
        }
        .about_us_img img{
            width: 100%;
        }
    /* end about us style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start reviewers style */
        .reviewers .reviewers_img{
            margin-top: 200px !important;
        }
    /* end reviewers style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start shutterstock2 background style */
    /* end shutterstock2 background style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start dishes style */
    /* end dishes style*/
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start our testimonials style */
    /* end our testimonials style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start where are we style */
    /* end where are we style */
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start footer style */
        /* ----------------------- */
        /* start main footer style */
            .main_footer .float_item{
                width: 50%;
            }
            .two_div_holder{
                width: 100%;
                display: inline-block;
            }
            .main_footer .overlay_img{
                background-size: unset !important;
            }
        /* end main footer style */
        /* --------------------- */


        /* ------------------------- */
        /* start footer bottm style */
        /* end footer bottom style */
        /* ----------------------- */
    /* end footer style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start panel menu style */
    /* end panel menu style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start scroll up style */
            .scroll_up #link2{
                display: block;
            }
            .scroll_up #link1{
                display: none;
            }
    /* end scroll up style */
    /* -------------------------------------------------------------------------------------- */
}
@media screen and (max-width: 768px) {
    /* -------------------------------------------------------------------------------------- */
    /* start general style */
        .overlay{
            background-color:rgb(0, 0, 0, .3);
        }
        /* ------------------------- */
        /* start custom button style */
        /* end custom button style */
        /* ----------------------- */


        /* ----------------------- */
        /* start custom font style */
        /* end custom font style */
        /* --------------------- */


        /* --------------------- */
        /* start icon list style */
        /* end icon list style */
        /* ------------------- */
    /* end gernal style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start header style */
    .header{
        background-position-x:50% ;
    }
        /* ------------------- */
        /* start nav_bar style */
            .nav_bar .float_item{
                width: 100%;
                text-align: center;
            }
            .home_nav{
                border: 0px;
            }
        /* end nav_bar style */
        /* ----------------- */


        /* -------------------------- */
        /* start header content style */
            .header_content .sub_title{
                font-size: 16px ;
            }
        /* end header content style */
        /* ------------------------ */
    /* end header style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start about us style */
            .about_us .float_item{
                width: 100%;
            }
            .about_us_img img{
                width: 100%;
            }
    /* end about us style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start reviewers style */
            .reviewers .float_item{
                width: 100%;
                padding: 10px !important;
            }
            .reviewers .reviewers_img{
                margin-top: 0 !important;
            }
    /* end reviewers style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start shutterstock2 background style */
    /* end shutterstock2 background style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start dishes style */
            .dishes .float_item{
                width: 100%;
            }
    /* end dishes style*/
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start our testimonials style */
    /* end our testimonials style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start where are we style */
            .where_are_we .float_item{
                width: 100%;
                padding: 10px;
            }
    /* end where are we style */
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start footer style */
        /* ----------------------- */
        /* start main footer style */
            .main_footer .float_item{
                width: 100%;
            }
            .main_footer .overlay{
                background-color: rgba(64, 61, 61, 0.9) !important;
            }
        /* end main footer style */
        /* --------------------- */


        /* ------------------------- */
        /* start footer bottm style */
        /* end footer bottom style */
        /* ----------------------- */
    /* end footer style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start panel menu style */
    /* end panel menu style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start scroll up style */
    /* end scroll up style */
    /* -------------------------------------------------------------------------------------- */
}
@media screen and (max-width: 640px) {
    /* -------------------------------------------------------------------------------------- */
    /* start general style */
        /* ------------------------- */
        /* start custom button style */
        /* end custom button style */
        /* ----------------------- */


        /* ----------------------- */
        /* start custom font style */
        /* end custom font style */
        /* --------------------- */


        /* --------------------- */
        /* start icon list style */
        /* end icon list style */
        /* ------------------- */
    /* end gernal style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start header style */
        /* ------------------- */
        /* start nav_bar style */
            .nav_list li{
                width: 33.33%;
            }
        /* end nav_bar style */
        /* ----------------- */


        /* -------------------------- */
        /* start header content style */
        /* end header content style */
        /* ------------------------ */
    /* end header style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start about us style */
    /* end about us style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start reviewers style */
    /* end reviewers style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start shutterstock2 background style */
    /* end shutterstock2 background style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start dishes style */
    /* end dishes style*/
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start our testimonials style */
    /* end our testimonials style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start where are we style */
    /* end where are we style */
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start footer style */
        /* ----------------------- */
        /* start main footer style */
        /* end main footer style */
        /* --------------------- */


        /* ------------------------- */
        /* start footer bottm style */
        /* end footer bottom style */
        /* ----------------------- */
    /* end footer style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start panel menu style */
    /* end panel menu style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start scroll up style */
    /* end scroll up style */
    /* -------------------------------------------------------------------------------------- */
}
@media screen and (max-width: 505px) {
    /* -------------------------------------------------------------------------------------- */
    /* start general style */
        .section_container{
            width: 95%;
        }
        /* ------------------------- */
        /* start custom button style */
        /* end custom button style */
        /* ----------------------- */


        /* ----------------------- */
        /* start custom font style */
        /* end custom font style */
        /* --------------------- */


        /* --------------------- */
        /* start icon list style */
        /* end icon list style */
        /* ------------------- */
    /* end gernal style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start header style */
        /* ------------------- */
        /* start nav_bar style */
        /* end nav_bar style */
        /* ----------------- */


        /* -------------------------- */
        /* start header content style */
            .header_img img{
                width: 100%;
            }
        /* end header content style */
        /* ------------------------ */
    /* end header style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start about us style */
    /* end about us style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start reviewers style */
    /* end reviewers style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start shutterstock2 background style */
    /* end shutterstock2 background style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start dishes style */
            .products{
                width: 100% !important;
            }
            .products .float_item{
                padding: 20px 0 !important;
            }
    /* end dishes style*/
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start our testimonials style */
    /* end our testimonials style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start where are we style */
    /* end where are we style */
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start footer style */
        /* ----------------------- */
        /* start main footer style */
        /* end main footer style */
        /* --------------------- */


        /* ------------------------- */
        /* start footer bottm style */
            .footer_img img{
                width: 100%;
            }
            .main_footer .float_item{
                padding: 10px;
            }
        /* end footer bottom style */
        /* ----------------------- */
    /* end footer style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start panel menu style */
    /* end panel menu style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start scroll up style */
    /* end scroll up style */
    /* -------------------------------------------------------------------------------------- */
}
@media screen and (max-width: 250px) {
    /* -------------------------------------------------------------------------------------- */
    /* start general style */
        /* ------------------------- */
        /* start custom button style */
        /* end custom button style */
        /* ----------------------- */


        /* ----------------------- */
        /* start custom font style */
        /* end custom font style */
        /* --------------------- */


        /* --------------------- */
        /* start icon list style */
        /* end icon list style */
        /* ------------------- */
    /* end gernal style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start header style */
        /* ------------------- */
        /* start nav_bar style */
        .nav_list li{
            width: 100%;
        }
        /* end nav_bar style */
        /* ----------------- */


        /* -------------------------- */
        /* start header content style */
            
        /* end header content style */
        /* ------------------------ */
    /* end header style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start about us style */
    /* end about us style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start reviewers style */
        .reviewers .title{
            font-size: 30px !important;
        }
    /* end reviewers style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start shutterstock2 background style */
    /* end shutterstock2 background style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start dishes style */
    /* end dishes style*/
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start our testimonials style */
    /* end our testimonials style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start where are we style */
    /* end where are we style */
    /* -------------------------------------------------------------------------------------- */



    /* -------------------------------------------------------------------------------------- */
    /* start footer style */
        /* ----------------------- */
        /* start main footer style */
        /* end main footer style */
        /* --------------------- */


        /* ------------------------- */
        /* start footer bottm style */
        /* end footer bottom style */
        /* ----------------------- */
    /* end footer style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start panel menu style */
        .panel_menu{
            display: none;
        }
    /* end panel menu style */
    /* -------------------------------------------------------------------------------------- */




    /* -------------------------------------------------------------------------------------- */
    /* start scroll up style */
        .scroll_up{
            display: none;
        }
    /* end scroll up style */
    /* -------------------------------------------------------------------------------------- */
}
